.homeFormCont {
  padding: 100px;
  margin: auto;
  height: auto;
  /* min-height: 100px; */
  margin-top: 100px;
  /* background-image: url("../media/swirl_pattern.png");
  background-repeat: repeat; */
  background-color: #fff;
  box-shadow: 0 0 20px gray;
}
.homeFormContDark {
  padding: 100px;
  margin: auto;
  height: auto;
  margin-top: 100px;
  color: white;
  background-color: #333;
  box-shadow: 0 0 20px #aaa;
}
.search {
  color: white;
  background-color: #333;
}
.btnStyle {
  background-color: transparent;
  padding: 10px;
  margin: 0 20px;
  color: black;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  transition: all 0.1s ease-in;
  border-radius: 5px;
  width: 100px;
}
.btnStyle:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

h1 {
  text-align: center;
  margin: 50px;
  padding-bottom: 50px;
}
a {
  cursor: pointer;
}
.btnstyle {
  border: 1px solid #aaa;
  cursor: pointer;
  background-color: transparent;
  color: black;
  border-radius: 0.25rem;
  display: inline-block;
  padding: 0.3rem;
  transition: all 0.2s ease-in;
}
.btnstyle:hover {
  border: 1px solid #aaa;
  cursor: pointer;
  background-color: #eef;
  color: black;
  border-radius: 0.25rem;
  display: inline-block;
  padding: 0.3rem;
  text-decoration: none;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
span {
  margin: auto 0 auto 0;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}
.dark-card {
  color: white;
  background-color: #333;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.toolItem {
  margin: 25px auto 20px 10px;
}
