td {
  padding: 10px;
}
table,
th,
td {
  border: 1px solid black;
}
table {
  /* overflow-wrap: break-word; */
  padding: auto;
  width: 100%;
  height: 100%;
}
h2 {
  margin: auto;
  align-content: center;
  text-align: center;
}
div .div {
  overflow: scroll;
}
@media print {
  h2,
  br {
    display: none;
  }
  * {
    padding: 0;
  }
}
