.homeFormCont {
  padding: 100px;
  margin: auto;
  min-height: 1000px;
  margin-top: 100px;
  background-color: #fff;
  box-shadow: 0 0 20px gray;
  min-width: 530px;
}
img {
  border-radius: 100%;
  /* width: 200px;
  height: 200px; */
  margin: 20px;
}
.col-6 {
  min-width: 255px;
}
small {
  font-size: 10px;
}
input[type="file"] {
  opacity: 0;
}
/* input[last-of-type="password"]::after {
  content: "To submit changes please enter your current password";
} */
